@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header {
    padding: 24px 0;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-address {
    display: flex;
    gap: 40px;
  }
  .header-auth {
    color: var(--text-slate-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-office-x2.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .features {
    padding: 120px 0;
  }
  .feature-item-wrap {
    margin-bottom: 0;
    width: calc((100% - 24px * 3) / 4);
  }
  .feature-thumb {
    display: flex;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--light-cloud-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  .feature-image {
    fill: var(--dark-navy-blue-color);
  }
  .we-doing {
    display: contents;
    padding: 120px 0;
  }
  .we-doing-wrap {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  .we-doing-item {
    flex-shrink: 0;
    width: calc((100% - 24px * 2) / 3);
  }
  .footer-wrap {
    padding-left: 16px;
    gap: 80px;
  }
  .footer-logo-container {
    margin-right: 40px;
  }
}
