/* ------------------Global settings------------------ */
:root {
  --dominant-color: #ffffff;
  --primary-brand-iris-color: #4d5ae5;
  --pressed-state-ocean-color: #404bbf;
  --dark-navy-blue-color: #2e2f42;
  --success-green-color: #31d0aa;
  --text-slate-color: #434455;
  --subtle-text-light-slate-color: #8e8f99;
  --accent-cornflower-color: #e7e9fc;
  --light-cloud-color: #f4f4fd;
  --modal-overlay-navy-blue-modal-color: #2e2f4266;
  --hero-background-grey-color: #2e2f42;
  --bezier-time: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-slate-color);
  background-color: var(--dominant-color);
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  display: inline-block;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-link.current {
  position: relative;
  color: var(--pressed-state-ocean-color);
}
.current::after {
  position: absolute;
  bottom: -24px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-ocean-color);
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
/* ------------------Backdrop------------------ */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-navy-blue-modal-color);
  transition: visibility 250ms var(--bezier-time),
    opacity 250ms var(--bezier-time);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  padding: 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--bezier-time);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--accent-cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--bezier-time),
    background-color 250ms var(--bezier-time);
}
.modal-btn:is(:hover, :focus) {
  fill: var(--dominant-color);
  background-color: var(--pressed-state-ocean-color);
}
.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.modal-wrap {
  margin-bottom: 8px;
}
.modal-wrap:nth-child(4) {
  margin-bottom: 16px;
}
.label-flow {
  position: relative;
}
.label-text {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-light-slate-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  padding-left: 38px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  fill: var(--hero-background-grey-color);
  transition: border-color 250ms var(--bezier-time);
}
.modal-input:focus {
  border-color: var(--primary-brand-iris-color);
}
.label-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms var(--bezier-time);
}
.modal-input:focus + .label-icon {
  fill: var(--primary-brand-iris-color);
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
}
.modal-textarea:focus {
  border-color: var(--primary-brand-iris-color);
}
.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.privacy-policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.privacy-policy span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-navy-blue-color);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms var(--bezier-time),
    border 250ms var(--bezier-time), fill 250ms var(--bezier-time);
}
.policy-text {
  color: #757575;
}
.input-check:focus + .privacy-policy span {
  outline: 1.25px solid var(--pressed-state-ocean-color);
}
.input-check:checked + .privacy-policy span {
  background-color: var(--pressed-state-ocean-color);
  border: 1.25px solid var(--pressed-state-ocean-color);
  fill: var(--dominant-color);
}
.privacy-policy-link {
  color: var(--primary-brand-iris-color);
  margin-left: 3px;
}
.send-btn {
  display: block;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  color: var(--dominant-color);
  background-color: var(--primary-brand-iris-color);
  border: 1px solid var(--primary-brand-iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--bezier-time),
    border-color 250ms var(--bezier-time);
}
.send-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-ocean-color);
  border-color: var(--pressed-state-ocean-color);
}
/* ------------------Header------------------ */
.header-wrap {
  display: flex;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent-cornflower-color);
}
/* ------------------Logo------------------ */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--dark-navy-blue-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-color {
  color: var(--primary-brand-iris-color);
}
/* ------------------Navigation------------------ */
.navigation-wrap {
  display: flex;
}
.header-navigation-wrap {
  display: flex;
  gap: 40px;
}
.header-link {
  color: var(--dark-navy-blue-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms var(--bezier-time);
}
.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-ocean-color);
}
/* ------------------Contacts------------------ */
.address {
  margin-left: auto;
}
.header-address-wrap {
  display: flex;
  gap: 40px;
}
.header-auth {
  color: var(--text-slate-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms var(--bezier-time);
}
.header-auth:hover,
.header-auth:focus {
  color: var(--primary-brand-iris-color);
}
/* ------------------Hero------------------ */
.hero {
  margin: 0 auto;
  max-width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--dark-navy-blue-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--dominant-color);
  max-width: 500px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--dominant-color);
  background-color: var(--primary-brand-iris-color);
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border-color: var(--primary-brand-iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--bezier-time),
    border-color 250ms var(--bezier-time);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-ocean-color);
  border-color: var(--pressed-state-ocean-color);
}
/* ------------------Sections------------------ */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.we-doing {
  padding-top: 0;
}
.team {
  background-color: var(--light-cloud-color);
}
.section-title {
  color: var(--dark-navy-blue-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.section-card {
  background-color: var(--dominant-color);
}
.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------------------Features------------------ */
.features-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.feature-item-wrap {
  width: calc((100% - 72px) / 4);
}
.feature-thumb {
  display: flex;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--light-cloud-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.feature-image {
  fill: var(--dark-navy-blue-color);
}
/* ------------------What are we doing------------------ */
.we-doing-wrap {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.we-doing-item {
  flex-shrink: 0;
  /* width: 360px; */
  width: calc((100% - 24px * 2) / 3);
}
/* ------------------Our team------------------ */
.team-wrap {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.section-card {
  flex-basis: calc((100% - 24px * 3) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section-card-info {
  padding: 32px 16px;
  text-align: center;
}
.section-card-info > .text {
  margin-bottom: 8px;
}
.card-social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card-social-item {
  width: 40px;
  height: 40px;
}
.card-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-iris-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--bezier-time);
}
.card-social-icon {
  fill: var(--light-cloud-color);
}
.card-social-link:hover,
.card-social-link:focus {
  background-color: var(--pressed-state-ocean-color);
}
/* ------------------Customers------------------ */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text-light-slate-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--subtle-text-light-slate-color);
  transition: color 250ms var(--bezier-time),
    border-color 250ms var(--bezier-time);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:is(:hover, :focus) {
  color: var(--pressed-state-ocean-color);
  border-color: var(--pressed-state-ocean-color);
}
/* ------------------Footer------------------ */
.footer {
  background-color: var(--dark-navy-blue-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-wrap {
  display: flex;
}
.footer-logo {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-cloud-color);
}
.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-cornflower-color);
}
.footer-social-container {
  margin-left: 120px;
}
.footer-social-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dominant-color);
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--bezier-time);
}
.footer-social-icon {
  fill: var(--light-cloud-color);
}
.footer-social-link:is(:hover, :focus) {
  background-color: var(--success-green-color);
}

.footer-form {
  margin-left: 80px;
}
.subscribe-text {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dominant-color);
}
.subscribe-wrap {
  display: flex;
  gap: 24px;
}
.subscribe-mail {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  color: var(--dominant-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  padding: 8px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--dominant-color);
  background-color: var(--primary-brand-iris-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--bezier-time);
}
.footer-send-icon {
  display: block;
  fill: var(--dominant-color);
}
.subscribe-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-ocean-color);
}
/* ------------------Portfolio------------------ */
.section.portfolio {
  padding-top: 96px;
}
.filter-list-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-iris-color);
  background-color: var(--light-cloud-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--accent-cornflower-color);
  border-radius: 4px;
  transition: color 250ms var(--bezier-time),
    background-color 250ms var(--bezier-time),
    border-color 250ms var(--bezier-time), box-shadow 250ms var(--bezier-time);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--dominant-color);
  background-color: var(--pressed-state-ocean-color);
  border-color: var(--pressed-state-ocean-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item-info {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--accent-cornflower-color);
  border-bottom: 1px solid var(--accent-cornflower-color);
  border-left: 1px solid var(--accent-cornflower-color);
}
.item > .link {
  transition: box-shadow 250ms var(--bezier-time);
}
.item > .link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-navy-blue-color);
}
.portfolio-list .item {
  flex-shrink: 0;
  flex-basis: calc((100% - 24px * 2) / 3);
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-slate-color);
}
.portfolio-description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-cloud-color);
  background-color: var(--primary-brand-iris-color);
  transform: translateY(100%);
  transition: transform 250ms var(--bezier-time);
}
.item > .link:is(:hover, :focus) .portfolio-description {
  transform: translateY(0);
}
